<!DOCTYPE html>
<html>
<head>
  <title>Product Manager</title>
</head>
<body>
<form method="post" action='/'>
  <input type="text" name="new_product" >
  <input type="submit" value="Create Product">
</form>
</body>
</html>