<!DOCTYPE html>
<html>
<head>
  <title>Product Manager</title>
  <h1>Welcome</h1>
</head>
<body>
<a href="/product">Add a Product</a>
<ul><% new_product.each do |product|%>
    <li><%= product %></li>
  <% end %></ul>
</body>
</html>